.column1 {
  padding: 0 0 0 50px; 
  float: left;
  width: 50%;
}

.column3 {
  padding: 0 0 0 15px; 
  float: left;
  width: 50%;
}

.column5 {
  padding: 0 0 0 15px; 
  float: left;
  width: 30%;
}

.column55 {
  padding: 0 0 0 15px; 
  float: left;
  width: 50%;
}

.column33 {
  padding: 28px 0 0 0; 
  float: left;
  width: 50%;
}


.column333 {
  padding: 25px 0 0 15px; 
  float: left;
  width: 50%;
}


.column2 {
  width: 50%;
  float: left;
}

.column22 {
  width: 46%;
  float: right;
}

.column4a {
  width: 40%;
  float: left;
  padding: 0 0 0 15px; 
}


.column4b {
  width: 60%;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.center2 {
  text-align: right;
}

.meta{
  font-weight:bold;
  color: #ee2570;
}

.bold{
  font-weight:bold;
}